<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/apibanco.css">
    <title> <%= title %>  </title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Api Banco</h1>
            <h2> <%= title %>  </h2>
        </header>
        <main>

        </main>
        <footer>
            <h3>Aquí el footer ApiBanco</h3>
        </footer>
    </div>
</body>
</html>