<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <div class="container">
        <header>

        </header>
        <main>
            
            <% clientes.forEach(cliente => { %>
                <ul>
                    <li>
                <p>ID: <%= cliente.id %> - SALDO: $<%= cliente.name %></p>
                    </li> 
                </ul>
            <% }) %>
        
        </main>
        <footer>
            <%- include('../partials/footer')  %> 
        </footer>
    </div>
</body>
</html>